<mat-card>
    <mat-card-header>
        <mat-card-title>{{ (content$ | async)?.country }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Destination: {{ (content$ | async)?.destination }}</p>
        <p>Food: {{ (content$ | async)?.food }}</p>
        <p appHoverAffect [hoverStyle]="'underline'" *ngIf="(content$ | async)?.type">Type: {{ (content$ | async)?.type }}</p>
        <p appHoverAffect [hoverStyle]="'bold'">Tags: {{ (content$ | async)?.tags }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="goBack()">Back to the content list</button>
    </mat-card-actions>
</mat-card>

