<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1 class="mat-display-2" style="text-decoration:underline; font-size:40px;">My Favourite Travel Destinations</h1>

<div class="centered-form-field">
  <mat-form-field>
    <mat-label>Enter Content ID:</mat-label>
    <input matInput type="number" id="idInput" [(ngModel)]="id">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="showContentById()">Show Array Content</button>
</div>

<app-app-messages></app-app-messages>
<app-content-card [item]="topContent" *ngIf="topContent" class="top-card" mat-elevation-z3></app-content-card>

<app-content-list></app-content-list>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
