<div [ngClass]="{ 'type1-style':item.type==='', 'type2-style':item.type === 'family', 'type3-style':item.type === 'friends', 'type4s-style':item.type === 'solo' }" class="content-card" [style.border]="item.type ? '2px solid ' + item.type : '1px solid black'">

  <div [ngSwitch]='!!item.image' class="content-card-image content-card-item">
    <img *ngSwitchCase='true' src="{{item.imgURL}}" (click)="log()" alt="{{item.country}}"/>
    <img *ngSwitchDefault class="content-card-image-default" src="{{item.imgURL}}" (click)="log()" alt="Default Image" />

  </div>
  <div>
    <h2>{{item.country}}</h2>
    <p class="content-card-item">Destination:{{item.destination}}</p>
    <p class="content-card-item">Food: {{item.food}}</p>
    <p appHoverAffect [hoverStyle]="'underline'" *ngIf="item.type" class="content-card-item">Type: {{item.type}}</p>
    <p appHoverAffect [hoverStyle]="'bold'" class="content-card-item">Tags: {{item.tags}}</p>
  </div>
</div>
