<ng-container *ngIf="item">
  <mat-card [ngClass]="{'type1-style':item.type==='', 'type2-style':item.type === 'family', 'type3-style':item.type === 'friends', 'type4s-style':item.type === 'solo' }"
          class="content-card">

    <mat-card-header>
      <mat-card-title>{{item.country}}</mat-card-title>
    </mat-card-header>
    <div [ngSwitch]="!!item.image" class="content-card-image content-card-item">
      <img *ngSwitchCase="true" [src]="item.imgURL" (click)="log()" alt="{{item.country}}" />
      <img *ngSwitchDefault class="content-card-image-default" src="{{item.imgURL}}" (click)="log()" alt="Default Image" />
    </div>
    <a class="router-link" [routerLink]="['/content', item.id]">View Details</a>

  </mat-card>
</ng-container>
