
.content-card-image-default {
  width: 50%;
  height:70%;
  border-radius: 7%;
}
.content-card {
  display: flex;
  flex-direction: row;
  border: 1px dashed rgb(132, 36, 36);
  padding: 10px;
  margin: 10px;
}

:host.top-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.content-card-image, .mat-card-image {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.content-card-content {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid rgb(121, 40, 40);
}
